.folio {
    display: flex;
    display: none;

    & .folio-grid {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 20px;
        height: calc(100% - 50%);

        display: flex;
        align-items: center;
        overflow: hidden;

        & .content {
            position: relative;
            width: 100%;
            height: 100%;
            padding-block: 20px;
            margin-inline: auto;
            
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);

            & .area-apply {
                position: relative;
                padding: 4px;
                border: 1px solid var(--back-color-alt);

                &:nth-child(1), &:nth-child(4) {
                    grid-column: span 2;

                    & .items {
                        background: #00000050;
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-child(2), &:nth-child(3) {

                    & .items {
                        background: #00000050;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }
    }
}